* {
    margin: 0;
    padding: 0;
}

/* rubik */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/rubi/rubik-v14-latin-regular.eot?') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/rubi/rubik-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/rubi/rubik-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/rubi/rubik-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/rubi/rubik-v14-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: lighter;
    src: url('./fonts/rubi/rubik-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./fonts/rubi/rubik-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/rubi/rubik-v14-latin-300.woff') format('woff'), /* Modern Browsers */
        url('./fonts/rubi/rubik-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./fonts/rubi/rubik-v14-latin-300.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* libre-baskerville */
@font-face {
    font-family: 'Libre';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/libr/libre-baskerville-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/libr/libre-baskerville-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libr/libre-baskerville-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('./fonts/libr/libre-baskerville-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/libr/libre-baskerville-v9-latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
  }


header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1em;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    background-color: transparent;
    border: none;
    margin: 3px;
    padding: 2px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.7em;
}

#main {
    height: 90vh;
    display: flex;
}

#cover {
    width: 50vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cover { /*change to coverImg?*/
    height: 80vh;
    width: auto;
}

#info {
    width: 40vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    margin: 40px;
    font-family: 'Libre', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 3.5em;
}

#options {
    display:flex;
    gap: 40px;
    align-items: flex-end;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > img {
    width: 12vh;
    height: auto;
    margin-bottom: 30px;
    transition: transform .5s ease;
}

.card > img:hover {
    transform: scale(1.5);
}

.card > p {
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
}